*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.inicio{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.fim{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.meio{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   